<div class="trail-comment">
  <div class="comment-body">
    <a href="/users/<%= comment.user.id %>"><%= comment.user.email %></a>
  </div>
  <div class="comment-info">
    <h4><%= comment.content %></h4>
    <p><%= comment.created_at.strftime("%l:%M%P - %b %d, %Y") %></p>
  </div>
  <% if comment.user.id == current_user.id %>
  <a href="#" class="comment-delete-btn text-right" data-id="<%= comment.id %>">Delete</a>
  <% end %>
</div>
