<div class="hyyker text-center">
  <div class="hyyker-img">
    <%= image_tag "http://placekitten.com/g/125/125", size: "125x125" %>
  </div>
  <div class="hyyker-email">
    <h3><%= link_to user.email, user %></h3>
  </div>
  <div class="hyyker-stats">
    <h3><%= user.total_distance_hiked %></h3>
    <p>Miles Hiked</p>
  </div>
  <div class="hyyker-stats">
    <h3><%= user.total_hikes %></h3>
    <p>Total Hikes</p>
  </div>
  <div class="hyyker-stats">
    <h3><%= user.total_elevation_climbed %></h3>
    <p>Total Elevation Climbed</p>
  </div>
</div>
