<h1><%= @user.email %>'s Hyyking Page</h1>
<h2>Stats</h2>
<p>Total Hikes: <%= @user.total_hikes %></p>
<p>Total Elevation Climbed: <%= @user.total_elevation_climbed %> ft.</p>
<p>Total Distance Hiked: <%= @user.total_distance_hiked %> mi.</p>

<div class="hyyk-records">
  <% if @user.hikes.any? %>
    <p><%= @user.longest_hike.distance %> miles</p>
    <p><strong>Longest Hyyk</strong></p>
    <p><%= @user.tallest_hike.elevation %> feet</p>
    <p><strong>Tallest Hyyk</strong></p>
  <% else %>
    <p>Start hiking to set some records!</p>
  <% end %>
</div>

<h2>Hyyks</h2>
<%= render @user.hikes %>
