<%= form_for @hike, url: trail_hikes_path(@trail.id) do |f| %>
  <% if @hike.errors.any? %>
  <ul>
  <% @hike.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_field :date, class: "form-control" %><br>
  </div>
  <%= f.hidden_field :trail_id, :value => @trail.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.submit class: "form-control" %>
  </div>
<% end %>
