<div class="trail-div">
  <h3><%= link_to trail.name, trail %></h3>
  <p><%= trail.location %></p>

  <strong><%= "#{trail.distance} mi." %></strong>
  <p>Distance</p>
  <strong><%= "#{trail.elevation} ft" %></strong>
  <p>Elevation</p>
  <strong><%= trail.trail_type %></strong>
  <p>Trail Type</p>
</div>
