<div class="row text-center hike-title">
  <h1 id="trail-name"><%= @trail.name %></h1>
  <h3 id="trail-location"><%= @trail.location %></h3>
</div>

<% if @trail.created_by_user_id == current_user.id %>
  <div class="row">
    <div class="col-md-6">
      <%= link_to "Edit #{@trail.name}", edit_trail_path, class: "btn btn-primary form-control trail-edit-btn" %>
    </div>
    <div class="col-md-6">
      <%= button_to "Delete #{@trail.name}", trail_path(@trail), method: :delete, class: "btn btn-danger form-control" %>
    </div>
  </div>
<% end %>

<div class="row text-center trail-ajax-nav">
  <div class="col-md-6">
    <button id="prev-trail-btn" class="btn btn-info form-control" data-id="<%= @trail.id %>"><i class="fa fa-arrow-left" aria-hidden="true"></i> Load Previous Trail</button>
  </div>
  <div class="col-md-6">
    <button id="next-trail-btn" class="btn btn-info form-control" data-id="<%= @trail.id %>">Load Next Trail <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  </div>
</div>

<div class="row text-center hike-info">
  <div class="col-md-3 hike-info-section">
    <h2 id="trail-distance"><%= "#{@trail.distance} mi." %></h2>
    <p>Distance</p>
  </div>
  <div class="col-md-3 hike-info-section">
    <h2 id="trail-elevation"><%= "#{@trail.elevation} ft" %></h2>
    <p>Elevation</p>
  </div>
  <div class="col-md-3 hike-info-section">
    <h2 id="trail-type"><%= @trail.trail_type %></h2>
    <p>Trail Type</p>
  </div>
  <div class="col-md-3 hike-info-section">
    <h4>Have you hiked <span id="trail-name-span-1"><%= @trail.name %></span>?</h4>
    <p><%= link_to "Log Hike", new_trail_hike_path(@trail), class: "btn btn-info" %></p>
  </div>
</div>

<div class="row hyyker-title text-center">
  <h2><span id="trail-name-span-2"><%= @trail.name %></span> Hyykers</h2>
</div>


<div class="row hyyker-list">
  <div class="col-md-10 col-md-offset-1">
    <div id="trail-users">
      <% if @trail.users.any? %>
        <%= render @trail.users.uniq %>
      <% else %>
        <h2 id="no-hikers" class="text-center">Looks like no Hyykers have hiked this trail yet!</h2>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var currentTrailId = 0;
  var lastTrailId = 0;

  $(function() {
    attachNextButton();
    attachPrevButton();

    // Get lastTrail ID so you wont load past the next trail
    $.get('/trails.json')
    .done(function(trails) {
      lastTrailId = trails[trails.length - 1]['id'];
    });
  });

  function attachNextButton() {
    $('#next-trail-btn').click(function(){
      if ($(this).data("id") < lastTrailId) {
        console.log(currentTrailId);
        currentTrailId = $(this).data("id");
        var worked = false;
        getNextTrail((currentTrailId + 1));
      }
    });
  }

  function attachPrevButton() {
    $('#prev-trail-btn').click(function(){
      if ($(this).data("id") > 1) {
        console.log(currentTrailId);
        currentTrailId = $(this).data("id");
        var worked = false;
        getPrevTrail((currentTrailId - 1));
      }
    });
  }

  function getPrevTrail(id) {
    $.get(`/trails/${id}.json`)
    .done(function(trailJSON) {
      worked = true;
      var trail = $.extend(new Trail(), trailJSON);
      currentTrailId = trail.id;
      displayTrail(trail);
    })
    .error(function(error) {
      // Unintentional Recursive Function to find the next available Trail
      getPrevTrail((id - 1));
    });
  }

  function getNextTrail(id) {
    $.get(`/trails/${id}.json`)
    .done(function(trailJSON) {
      worked = true;
      var trail = $.extend(new Trail(), trailJSON);
      currentTrailId = trail.id;
      displayTrail(trail);
    })
    .error(function(error) {
      // Unintentional Recursive Function to find the next available <<<Tr></Tr>a></Tra>i></Trai>  l
      getNextTrail((id + 1));
    });
  }

  function displayTrail(trail) {
    $('#trail-name').text(trail.name);
    $('#trail-name-span-1').text(trail.name);
    $('#trail-name-span-2').text(trail.name);
    $('#trail-location').text(trail.location);
    $('#trail-elevation').text(trail.elevation);
    $('#trail-type').text(trail.trail_type);
    $('#next-trail-btn').attr("data-id", trail.id);
    $('#prev-trail-btn').attr("data-id", trail.id);
    // $('#trail-').text(trail.);
  }
</script>
