<div class="row text-center hike-title">
  <h1><%= @trail.name %></h1>
  <h3><%= @trail.location %></h3>
</div>

<% if @trail.created_by_user_id == current_user.id %>
  <div class="row">
    <div class="col-md-6">
      <%= link_to "Edit #{@trail.name}", edit_trail_path, class: "btn btn-primary form-control trail-edit-btn" %>
    </div>
    <div class="col-md-6">
      <%= button_to "Delete #{@trail.name}", trail_path(@trail), method: :delete, class: "btn btn-danger form-control" %>
    </div>
  </div>
<% end %>

<div class="row text-center trail-ajax-nav">
  <div class="col-md-6">
    <button id="prev-trail-btn" class="btn btn-info form-control"><i class="fa fa-arrow-left" aria-hidden="true"></i> Load Previous Trail</button>
  </div>
  <div class="col-md-6">
    <button id="next-trail-btn" class="btn btn-info form-control">Load Next Trail <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  </div>
</div>

<div class="row text-center hike-info">
  <div class="col-md-3 hike-info-section">
    <h2><%= "#{@trail.distance} mi." %></h2>
    <p>Distance</p>
  </div>
  <div class="col-md-3 hike-info-section">
    <h2><%= "#{@trail.elevation} ft" %></h2>
    <p>Elevation</p>
  </div>
  <div class="col-md-3 hike-info-section">
    <h2><%= @trail.trail_type %></h2>
    <p>Trail Type</p>
  </div>
  <div class="col-md-3 hike-info-section">
    <h4>Have you hiked <%= @trail.name %>?</h4>
    <p><%= link_to "Log Hike", new_trail_hike_path(@trail), class: "btn btn-info" %></p>
  </div>
</div>

<div class="row hyyker-title text-center">
  <h2><%= @trail.name %> Hyykers</h2>
</div>


<div class="row hyyker-list">
  <div class="col-md-10 col-md-offset-1">
    <% if @trail.users.any? %>
      <%= render @trail.users.uniq %>
    <% else %>
      <h2 id="no-hikers" class="text-center">Looks like no Hyykers have hiked this trail yet!</h2>
    <% end %>
  </div>
</div>
