<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="true">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-tree" aria-hidden="true"></i> Hyyker</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="navbar-text">Signed in as <%= current_user.email %></li>
            <li>
              <%= link_to current_user do %>
                <i class="fa fa-user-o" aria-hidden="true"></i> Profile
              <% end %>
            </li>
            <li>
              <%= link_to trails_path do %>
                <i class="fa fa-globe" aria-hidden="true"></i> All Trails
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <i class="fa fa-users" aria-hidden="true"></i> Community
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_registration_path do %>
                <i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in" aria-hidden="true"></i> Log In
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
