<!DOCTYPE html>
<html>
  <head>
    <title>Hyyker - A simple hiking logger</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scalbloe=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Nunito" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=699811603544417";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="container">
      <%= render 'layouts/navigation' %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>

      <%= yield %>
    </div>
    <div class="container-fluid hyyk-footer">
      <div class="row">
        <div class="col-md-6">
          <p>Made with &hearts; by <a href="http://smendoza.me/" target="_blank">Sergio</a>.</p>
        </div>
        <div class="col-md-6 social-icons">
          <a href="https://github.com/smendoza787/hyyker" alt="Github Repo"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          <a href="http://smendoza.me/blog/2017/06/23/hyyker-rails-app.html" alt="Hyyker Blog Post"><i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i></a>
          <a href="https://twitter.com/swergi0" alt="Creator Twitter Page"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
